.sub-page-wraper {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #dddddd; */
}

.header-subtitle {
    color: #5D6D7E;
    font-size: clamp(0.7rem, 1.6vw, 3.5rem);
    font-weight: 230;
    padding-bottom: 15px;
}

.header-title-para {
    color: #0B2545;
    font-size: clamp(0.5rem, 1.1vw, 3rem);
    font-weight: 230;
    line-height: 1.5;
}

.about-image {
    height: 250px;
    padding: 20px;
}

@media (max-width: 768px) {
    .sub-page-wraper {
        height: auto;
        margin: 5% 15%;
    }
}
